LIVEVIEW_PUBLIC_BASE_URL=http://18.234.252.123/live-view-runtime
FFMPEG_PATH=/usr/bin/ffmpeg
LIVEVIEW_HLS_TIME_SECONDS=1
LIVEVIEW_HLS_LIST_SIZE=6
LIVEVIEW_STARTUP_TIMEOUT_SECONDS=20
LIVEVIEW_WEBRTC_STARTUP_TIMEOUT_SECONDS=12
MEDIAMTX_RTSP_URL=rtsp://127.0.0.1:8554
MEDIAMTX_WHEP_URL=http://18.234.252.123/live-view-webrtc
MEDIAMTX_API_URL=http://127.0.0.1:9997
