INNOVA_API_HOST=0.0.0.0
INNOVA_API_PORT=8512
INNOVA_BACKEND_API_URL=https://innova-dashboard.com/api
INNOVA_PUBLIC_API_BASE_URL=http://18.234.252.123/investigation-api
INNOVA_YOLO_MODEL_PATH=/opt/innova/investigation/yolo11n.pt
INNOVA_PERSON_DETECTION_DEVICE=cpu

INNOVA_SSH_KEY_PATH=/opt/innova/investigation/resources/keys/elastic-beanstalk.pem
INNOVA_REMOTE_BRIDGE_HOST=127.0.0.1
INNOVA_REMOTE_BRIDGE_USER=ubuntu
INNOVA_REMOTE_BRIDGE_PYTHON=python3

INNOVA_HIKVISION_REMOTE_SDK_DIR=/opt/innova/hikvision/current/lib
INNOVA_HIKVISION_LOCAL_SDK_DIR=/opt/innova/hikvision/current/lib
INNOVA_HIKVISION_DOWNLOAD_MODE=local
INNOVA_DAHUA_REMOTE_SDK_DIR=/opt/innova/dahua
INNOVA_NVR_PROFILES_PATH=/opt/innova/investigation/resources/nvr_profiles.local.json
